@font-face {
    /* By Christian Urff, from https://fontlibrary.org/en/font/grundschrift */
    font-family: 'Grundschrift';
    src: url('GrundschriftNormal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#app-container {
    width: 100%;
    height: 100%;
    /*overflow-y: hidden;*/ /* Causes scrollLeft to be zero. Chromium bug? */
}

#canvas {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    background-image: url(background.jpg);
    background-size: cover;
    overflow: hidden;
}

svg#edges {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    pointer-events: none;
}

.edge {
    stroke: #ccc;
    stroke-width: 5px;
}

.item-container {
    border-radius: 10px;
    background: #fafafa;
    position: absolute;
    box-shadow: 3px 3px 10px #888;
}

.item-container.expanded {
    z-index: 1;
}

.emptyItem {
    border: 2px solid #ddd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.emptyItem.notelike {
    background-color: #FFD;
}
.emptyItem.notelike .emptyItemInput {
    font-size: 18px;
    font-family: Grundschrift, sans-serif;
}

.emptyItem.urllike .emptyItemInput {
    font-family: mono;
}

.emptyItemForm {
    padding-top: 17px;
}

.emptyItemForm .emptyItemInput {
    background-color: transparent;
    width: 90%;
    height: 22px;
    margin-left: 5%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: mono;
    font-size: 14px;
}

.emptyItemForm ul.react-autosuggest__suggestions-container {
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
}

.emptyItemForm li.react-autosuggest__suggestion {
    margin-top: 1px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 3px 3px 10px #888;
    max-height: 50px;
    overflow: hidden;
}

.emptyItemForm li.react-autosuggest__suggestion:last-child {
    border-radius: 0 0 7px 7px;
}

.emptyItemForm li.react-autosuggest__suggestion--focused {
    background-color: #eef;
    border: 1px solid #99f;
}

.autosuggestion {
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.autosuggestion_note {
    background-color: #ffd;
    font-family: Grundschrift, sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.emptyItemForm li.react-autosuggest__suggestion--focused .autosuggestion_note {
    background-color: #ff6;
}

.autosuggestion_url {
    font-family: monospace;
}

.autosuggestion_websearch::before {
    padding-right: 5px;
    content: url('https://duckduckgo.com/favicon.png')
}

.note {
    overflow: hidden;
    border-radius: 10px;
    background-color: #FFD;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Grundschrift, sans-serif;
}

.note:focus {
    outline: none;
}

.webpage-iframe-wrapper-container {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.webpage-iframe-scaling-container {
    transform-origin: 0 0;
}

.webpage-iframe {
    width: 100%;
    height: 100%;
}

.webpage-iframe-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .0;
}


iframe[seamless] {
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
